html {
    font-size: 62.5%;
    /* margin: 0 10rem; */
}

body {
    height: 100vh;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #674bb2;
    color: white;
    display: grid;
    /* grid-template-rows: auto 1fr 5rem; */
    grid-template-rows: 1fr 4fr 1fr;
    /* margin: 0 4rem; */
}

header {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

header figure {
    width: 20rem;
    text-align: left;
}


figure img {
    width: 100%;
}

main {
    display: grid;
    justify-content: space-between;
    grid-template-columns:minmax(40rem,1fr) minmax(30rem, 60rem)
}


.description-section {
    padding: 0 0 0 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.description-section h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

.description-section p {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans',sans-serif;
}

.description-section button {
    align-self: flex-start;
    padding: 1.8rem 5.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.486);
    color: #674bb2;
    font-family: 'Open Sans';
    font-weight: 700;
    background: #fff;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social a img {
    width: 4rem;
    margin: 0 2rem;
}

@media screen and (max-width:768px){
    
    html {
        margin: 0;
    }

    body {
        background-image: url(images/bg-mobile.svg);
    }

    header {
        padding: 0 0 0 3rem;
    }
    
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: auto;
    }

    .image-section figure {
        padding: 0 3rem;
    }

    .description-section {
        padding: 0 5rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    .description-section button {
        align-self: center;
        padding: 1.8rem 7rem;
    }

    footer {
        justify-content: center;
    }

    .social a img {
        width: 4.5rem;
        margin-bottom: 4rem;
    }
}